In [ ]:
#1
Ordinal Encoding:
It is used to encode categorical data that have an intrinsic order or ranking.
Ex:Grades
    
Label encoding: 
assigning a unique numerical label to each category in the variable
Ex:Colors

In [ ]:
#2
Target Guided Ordinal Encoding:
    It is a technique used to encode categorical variables based on their relationship with the target variable.

In [ ]:
#3
Covariance: Gives the relation between two variables when one changes.
            Can be positive/negative.

In [13]:
#4
color=['red','green','blue']
import pandas as pd
from sklearn.preprocessing import OneHotEncoder
df=pd.DataFrame({'color':['red','green','blue']})
df.head()

   color
0    red
1  green
2   blue

In [14]:
encoder=OneHotEncoder()
encoded=encoder.fit_transform(df).toarray()

In [15]:
encoder_df=pd.DataFrame(encoded)
encoder_df

     0    1    2
0  0.0  0.0  1.0
1  0.0  1.0  0.0
2  1.0  0.0  0.0

In [ ]:
size=['small','med','large']

In [16]:
from sklearn.preprocessing import OrdinalEncoder
df=pd.DataFrame({'size':['small','med','large']})
df.head()

    size
0  small
1    med
2  large

In [20]:
encoder=OrdinalEncoder(categories=[['small','med','large']])
encoder.fit_transform(df[['size']])

array([[0.],
       [1.],
       [2.]])

In [21]:
mat=['wood','metal','plastic']
df=pd.DataFrame({'mat':['wood','metal','plastic']})
df.head()
encoder=OneHotEncoder()
encoded=encoder.fit_transform(df).toarray()
encoder_df=pd.DataFrame(encoded)
encoder_df

     0    1    2
0  0.0  0.0  1.0
1  1.0  0.0  0.0
2  0.0  1.0  0.0

In [ ]:
#5
df=sns.load_dataset()
df.head()
df.cov(df['Age','Income','Education_Level'])

In [ ]:
#6
Gender:Label Encoding:Since only 2 variables.
Education level:Ordinal Encoding:Since there is ranking among the categorical components.
Employment Status:Nominal Encoding

In [ ]:
#7
df=sns.load_dataset()
df.head()
df.cov(df['Temperature','Humidity'])
df.cov(df['Weather Condition','Wind direction'])