In [3]:
import pandas as pd
course_name = ['Data Science', 'Machine Learning', 'Big Data', 'Data Engineer']
duration = [2,3,6,4]
df = pd.DataFrame(data = {'course_name' : course_name, 'duration' : duration})
df

        course_name  duration
0      Data Science         2
1  Machine Learning         3
2          Big Data         6
3     Data Engineer         4

In [11]:
#1
df.iloc[1]

course_name    Machine Learning
duration                      3
Name: 1, dtype: object

In [ ]:
#2
#Iloc=Access data using fixed index values;Loc=Access data using the index names

In [13]:
#3
new_df=df.reindex([3,0,1,2])
new_df.loc[2]

course_name    Big Data
duration              6
Name: 2, dtype: object

In [14]:
new_df.iloc[2]

course_name    Machine Learning
duration                      3
Name: 1, dtype: object

In [ ]:
#Yes difference because loc locates by index name by iloc by standard index value.

In [15]:
import pandas as pd
import numpy as np
columns = ['column_1', 'column_2', 'column_3', 'column_4', 'column_5', 'column_6']
indices = [1,2,3,4,5,6]
#Creating a dataframe:
df1 = pd.DataFrame(np.random.rand(6,6), columns = columns, index = indices)

In [25]:
#4
import numpy as np
def test(x):
    return np.mean(x)
df1.apply(test)

column_1    0.661050
column_2    0.545130
column_3    0.476382
column_4    0.544456
column_5    0.286363
column_6    0.467750
dtype: float64

In [26]:
df1.iloc[2].std()

0.4011305137845893

In [29]:
#5
df1.loc['column_2']=type(str)

In [30]:
type(df1.loc['column_2'])

pandas.core.series.Series

In [ ]:
df1.loc['column_2'].mean()
#Cannot add two different object variables

In [ ]:
#6-Perform operations for set of data as specified-Ex:Rolling

In [ ]:
#7
df['date'].dt.yr/month

In [ ]:
#8
def time(date):
    day=input('Day')
    month=input('Month')
    yr=input('Year')
    time=pd.timedelta_range(day=day,month=month,year=yr)#Gives time diff
    dt=pd.to_datetime(date)
    dt-time
    
time(29-4-2024)

In [ ]:
#9
df=pd.read_csv('Filepath')
type(df['column_name'])=datatype
df['column_name']

In [ ]:
#10
df=pd.read_csv('Filepath')
sales=df['Sales']
time=df['Time']
plot=pd.Series(sales,time)
plot.plot()

In [ ]:
#11
def mark_table(path):
    df=pd.read_csv(path)
    mean=df['Marks'].mean()
    median=df['Marks'].median()
    mode=df['Marks'].mode()
    dict={'mean':mean,'median':median,'mode':mode}
    dt=pd.DataFrame(dict)
    return dt