In [ ]:
#1
Database:The collection of organized data and the accompanying software to access and update data.
SQL Database:Database where data is organized into the form of tables.
NO-SQL Database:Database where data is organized into documnets/files and not in tables.

In [ ]:
#2
DDL:Data Definition Language
That helps in defining the language of then database.
CREATE:Helps to create the tables in SQL
DROP:Helps to drop a table altogether
ALTER:Helps to alter the table for any changes
TRUNCATE:Helps to shorten the table

In [ ]:
#3
DML:Data Manipulation Language
Helps in manipulating the tables
INSERT:Helps in insertion of new records in the tables
UPDATE:Helps to update the table and records in the table according a certain criteria
DELETE:Helps in removing and dropping records accordiing to certain criterias.

In [ ]:
#4
DQL:Data Query Language
Helps in retrieving records according to a certain criteria.
Ex: select name where age=18

In [ ]:
#5
Primary Key:An attribute of a row that helps in uniquely identifying the record.
Foreign key: A primary key of a table being a reord of another table,referencing the parent table and acting as a link between the 
two tables.

In [ ]:
#6
import mysql.connector

# Establish connection
conn = mysql.connector.connect(
    host="localhost",
    user="your_username",
    password="your_password",
    database="your_database"
)

# Create a cursor object
cursor = conn.cursor()

# Execute a query
cursor.execute("SELECT * FROM your_table")

# Fetch and print results
for row in cursor.fetchall():
    print(row)

# Close the connection
conn.close()

In [ ]:
#7
The order of execution of SQL clauses in a query (logical query processing order) is as follows:

FROM: Specifies the tables to query and applies joins if necessary.
WHERE: Filters rows based on specified conditions.
GROUP BY: Groups rows with the same values in specified columns.
HAVING: Filters groups based on aggregate conditions.
SELECT: Specifies the columns or expressions to include in the result set.
DISTINCT: Removes duplicate rows from the result set.
ORDER BY: Sorts the result set based on specified columns.
LIMIT/OFFSET: Restricts the number of rows returned and specifies starting point.